In [10]:
import pandas as pd

In [12]:
df = pd.read_csv('../data/ING_BODEGA_Y_VTAS_20232 - OC_202310.csv',header=None)
df.columns = df.iloc[1]
df = df[2:].reset_index(drop=True)
df = df.dropna(axis=1, how='all')
df

1,OC,FECHA OC,SOLICITADO,COTIZ,DOC,FECHA FACT,XC,RUT,COD_PROD,DESCRIPCIÓN,UNID,CANT,P/UNIT,VALOR NETO,COMP,PLAZO,CLIENTE,VENTA,% RENTA,UTILIDAD
0,7451,4-oct,CF,STOCK,F-1455313,17-oct,Comercial Serviper Ltda,80706200-K,01020025,"PERNO ANCLAJE INOX 3/8X3""",UN,300,$ 585,$ 175.500,NaN,60,NaN,NaN,NaN,NaN
1,7518,13-oct,MO,NaN,F-430038,13-oct,Christensen Comercial S.A.,96756170-3,01020026,"D.CORTE NEXXO ACERO INOX 7"" X 1.6MM",UN,500,$ 736,$ 368.115,3696,30,USO INTERNO,NaN,NaN,NaN
2,7519,13-oct,MO,NaN,F-430037,13-oct,Christensen Comercial S.A.,96756170-3,01020026,"D.CORTE NEXXO ACERO INOX 7"" X 1.6MM",UN,500,$ 736,$ 368.115,3695,30,USO INTERNO,NaN,NaN,NaN
3,7523,13-oct,MO,NaN,F-800866,16-oct,Válvulas Industriales S.A.,95164000-K,02010030,"CAP A-234 SCH-80 4""",UN,5,$ 3.967,$ 19.835,3693,60,NaN,NaN,NaN,NaN
4,7523,13-oct,MO,NaN,F-800866,16-oct,Válvulas Industriales S.A.,95164000-K,02060049,"FLANGE ANSI 300 SLIP-ON A-105 2""",UN,5,$ 8.720,$ 43.600,3693,60,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,ACERINOX 90 DÍAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_nuevo = df[['FECHA FACT','DESCRIPCIÓN','CANT','P/UNIT','VALOR NETO']]

df_nuevo.to_csv("../data/i_b_v_seleccion.csv", index=False)

In [19]:
pd.read_csv('../data/i_b_v_seleccion.csv')

,FECHA FACT,DESCRIPCIÓN,CANT,P/UNIT,VALOR NETO
0,17-oct,"PERNO ANCLAJE INOX 3/8X3""",300.0,$ 585,$ 175.500
1,13-oct,"D.CORTE NEXXO ACERO INOX 7"" X 1.6MM",500.0,$ 736,$ 368.115
2,13-oct,"D.CORTE NEXXO ACERO INOX 7"" X 1.6MM",500.0,$ 736,$ 368.115
3,16-oct,"CAP A-234 SCH-80 4""",5.0,$ 3.967,$ 19.835
4,16-oct,"FLANGE ANSI 300 SLIP-ON A-105 2""",5.0,$ 8.720,$ 43.600
...,...,...,...,...,...
138,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,NaN,NaN,NaN
142,1,NaN,NaN,NaN,NaN